/* styles.css */

/* Style global pour la fenêtre */
.root {
    -fx-background-color: #1a1a1a; /* Couleur de fond sombre */
}

/* Style pour le label principal du menu */
.label-main {
    -fx-font-size: 36px;
    -fx-font-family: 'Papyrus'; /* Utilisation de la police 'Papyrus' */
    -fx-text-fill: darkorange; /* Couleur du texte */
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.label-texte{
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Style pour les sous-labels des sections */
.label-section {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: 'Papyrus';
    -fx-text-fill: darkorange;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

/* Style pour les boutons */
.button-option {
    -fx-font-size: 18px;
    -fx-font-family: 'Papyrus';
    -fx-text-fill: darkorange;
    -fx-background-color: #8b0000; /* Couleur de fond */
    -fx-background-radius: 10; /* Bord arrondi */
    -fx-border-color: darkorange;
    -fx-border-width: 2;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

/* Effets de survol pour les boutons */
.button-option:hover {
    -fx-background-color: darkorange;
    -fx-text-fill: #8b0000;
    -fx-border-color: #8b0000;
}

/* Styles pour les VBox */
.vbox-section {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

/* Styles pour les panneaux VBox */
.vbox-container {
    -fx-background-color: rgba(139, 0, 0, 0.1); /* Arrière-plan légèrement transparent */
    -fx-border-color: darkorange;
    -fx-border-width: 2 2 0 0; /* Bordure uniquement en haut et à droite */
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}
